.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--white-text-bg);
  background-color: var(--accent-color);
  box-shadow: none;
  border-width: 0;
  border-radius: 4px;
  transition: box-shadow 250ms var(--timing-function);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &--hero {
    display: block;
    min-width: 216px;
    padding: 10px 32px;
    margin: 0 auto;
  }
  &--footer {
    display: inline-flex;
    gap: 10px;
    min-width: 200px;
    padding: 10px 28px;
    @media screen and (min-width: 1200px) {
      margin-left: 10px;
    }
  }

  &--modal {
    display: block;
    min-width: 200px;
    padding: 10px 52px;
    margin: 0 auto;
  }
}
