.client {
  &__box {
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((100vw - (2 * 30px)) / 2);
    height: 92px;
    background-color: transparent;
    border: 1px solid var(--bg-secondary-network);
    border-radius: 4px;
    fill: var(--bg-secondary-network);
    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }
    @media screen and (min-width: 768px) {
      width: calc((768px - (3 * 30px)) / 3);
    }

    @media screen and (min-width: 1200px) {
      width: calc((1200px - (6 * 30px)) / 6);
    }
  }

  &__icon {
    width: 106px;
    height: 60px;
  }
}
