.features {
  &__list {
    width: 480px;
  }
  &__item {
    width: calc(100% - (2 * 15px));
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.7;
  }
  &__box {
    display: flex;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--bg-secondary-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    display: block;
  }
  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__item {
      width: 354px;
      margin-right: 0;
    }
    &__subtitle {
      text-align: start;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    width: 100%;
    gap: 30px;
    &__item {
      width: 270px;
      margin-right: 0;
    }
  }
}
