.form {
  padding: 0;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  line-height: calc(24 / 14);
  letter-spacing: 0.01em;
  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  &__field {
    min-width: 100%;
    min-height: 40px;
    padding: 8px 8px;
    padding-left: 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    color: var(--secondary-text-color);
    @media screen and (min-width: 1200px) {
      min-width: 448px;
    }
    &:focus {
      border-color: var(--accent-color);
    }
    &--textarea {
      display: block;
      resize: none;
    }
  }
  &__field:last-child {
    padding: 16px;
  }
  &__icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;

    fill: var(--secondary-text-color);
    transition: fill 250ms var(--timing-function);
    &--person {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .form__field:focus + & {
      fill: var(--accent-color);
    }
  }
}
.chekbox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: inherit;
  margin-bottom: 30px;
  &__text {
    margin-left: 8px;
  }
  @media screen and (min-width: 1200px) {
    gap: 8px;
    font-size: 14px;
    line-height: calc(14 / 24);
  }
}

.checkbox__label {
  user-select: none;
}

.chekbox__link {
  outline-color: var(--accent-color);
  color: var(--accent-color);
  text-decoration-line: underline;
  text-underline-position: under;
}

.checkbox__field {
  appearance: none;
}

.checkbox__field:focus-visible + .checkbox__icon {
  outline-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.4);
}

.uncheck {
  opacity: 1;
  transition: 300ms;
}
.checkbox__field:checked + .checkbox__icon .uncheck {
  opacity: 0;
}

.check {
  opacity: 0;
  transition: 300ms;
}
.checkbox__field:checked + .checkbox__icon .check {
  opacity: 1;
}
