.form {
  padding: 0;
  margin: 0 auto;
  font-family: inherit;
  font-size: inherit;
  line-height: calc(24 / 14);
  letter-spacing: 0.01em;
  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
  }
  &__list {
    margin-bottom: 20px;
  }
  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: calc(14 / 12);
  }
  &__field {
    min-width: 100%;
    min-height: 40px;
    padding: 8px 8px;
    padding-left: 42px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color 250ms var(--timing-function);
    color: var(--secondary-text-color);
    @media screen and (min-width: 1200px) {
      min-width: 448px;
    }
    &--textarea {
      display: block;
      resize: none;
    }
  }
  &__field:last-child {
    padding: 16px;
    &:focus {
      border-color: var(--accent-color);
    }
  }
  &__icon {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 12px;

    fill: var(--secondary-text-color);
    transition: fill 250ms var(--timing-function);
    &--person {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
        drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    .form__field:focus + & {
      fill: var(--accent-color);
    }
  }
}
.chekbox {
  // position: relative;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: inherit;
  &__label {
    user-select: none;
  }
  @media screen and (min-width: 1200px) {
    gap: 8px;
    font-size: 14px;
    line-height: calc(24 / 14);
  }
  &__link {
    text-decoration-line: underline;
    text-underline-position: under;
    color: var(--accent-color);
  }
  &__field {
    // position: absolute;
    appearance: none;
    // width: 16px;
    // height: 16px;
    // margin: 0;
    // top: 50%;
    // left: 10px;

    // transform: translateY(-50%);
    &:checked {
      outline-color: var(--accent-color);
      background-color: var(--accent-color) 0;
      background-size: 11px 8px;
    }
  }
  // &__icon {
  //   position: absolute;
  //   top: 50%;
  //   left: 10px;
  //   transform: translateY(-50%);
  //   border: 1.5px solid var(--secondary-text-color);
  //   border-radius: 4px;
  //   .checkbox__field:checked + & {
  //     background-color: var(--accent-color);
  //     border-color: var(--accent-color);
  //     background-origin: border-box;
  //   }
}
// &__label {
//   display: inline-block;
//   margin-left: 36px;
// }

.modal-form-agreement {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.modal-form-agreement-desc {
  font-size: 14px;

  user-select: none;
}

.modal-form-agreement-link {
  color: #ff6c00;
  /* text-underline-position: under; */
  text-decoration-style: wavy;
  text-underline-offset: 3px;
}

.modal-form-checkbox {
  appearance: none;
  /* width: 18px;
  height: 18px;

  outline: 2px solid transparent;
  outline-offset: -2px;
  border: 2px solid #9da4bd;
  border-radius: 2px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");

  transition: 500ms; */
}

.modal-form-checkbox:checked {
  outline-color: #ff6c00;
  background-color: #ff6c00;
  background-size: 11px 8px;
}
