.body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  background-color: var(--white-text-bg);
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  display: block;
  text-decoration: none;
}
.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.title {
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
}
.main {
  &__title {
    padding: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
