.header {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid var(--border-color-header);
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.main-header {
  position: relative;
  width: 480px;
  font-weight: 500;
  letter-spacing: 0.02em;
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
    display: flex;

    align-items: center;
  }
}
.main-nav {
  @extend .main-header;
}
.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    color: var(--secondary-text-color);
    &__link {
      padding-top: 32px;
      padding-bottom: 31px;
    }
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  &__item {
    margin-bottom: 22px;
    &:last-child {
      margin-bottom: 286px;
    }
    @media screen and (min-width: 481px) {
      position: relative;
      margin-right: 50px;
      margin-bottom: 0px;
      &:last-child {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }
  &__link {
    display: block;
    max-width: 220px;
    font-size: 40px;
    line-height: calc(47 / 40);
    color: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    @media screen and (min-width: 481px) {
      padding-top: 32px;
      padding-bottom: 31px;
      font-size: 14px;
      line-height: calc(16 / 14);
    }
  }
}
.current-page::after {
  @media screen and (min-width: 481px) {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
}
.contact {
  max-width: 310px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 54px;
  &__item {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--primery-text-color);
    margin-bottom: 0;
    &:last-child {
      margin-bottom: 32px;
      order: -1;
      font-size: 34px;
      line-height: calc(40 / 34);
      color: var(--accent-color);
    }
  }
  &__link {
    color: inherit;
  }

  &__icon {
    display: none;
    @media screen and (min-width: 481px) {
      display: block;
      margin-right: 10px;
      fill: currentColor;
    }
  }
  @media screen and (min-width: 768px) {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    margin-left: auto;
    margin-bottom: 0;

    &__item:first-child {
      padding-top: 21px;
      margin-bottom: 10px;
    }
    &__item:last-child {
      padding-bottom: 20px;
      margin-bottom: 0;
      color: var(--primery-text-color);
    }

    &__link {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 12px;
      line-height: calc(14 / 12);
      color: inherit;

      transition: color 250ms var(--timing-function);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
    &__icon {
      display: block;
      height: 14px;
      fill: currentColor;
    }
  }
  @media screen and (min-width: 1200px) {
    top: 0;
    right: 180px;
    padding: 0;
    font-size: inherit;
    line-height: calc(16 / 14);

    &__item:first-child {
      position: relative;
      margin-bottom: 0;
      padding: 0;
    }
    &__item:last-child {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0;
      transform: translateX(125%);
    }

    &__link {
      padding-top: 32px;
      padding-bottom: 31px;
    }

    &__icon {
      height: 16px;
    }
  }
}
.social {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
  &__item {
    position: relative;
    display: flex;
  }
  &__link {
    color: #2196f3;
  }
  &__element {
    position: absolute;
    top: 20%;
    right: 0;
    width: 1px;
    height: 22px;
    color: rgba(33, 33, 33, 0.2);
  }
  @media screen and (min-width: 481px) {
    display: none;
  }
}
.current-page {
  color: var(--accent-color);
}
