.backdrop {
  position: fixed;
  top: 0;
  right: auto;
  left: auto;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
  overflow-y: scroll;
  &__is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 30px);
  height: auto;
  padding: 40px;
  background-color: var(--white-text-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function);
  .backdrop__is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
  @media screen and (min-width: 768px) {
    max-width: 450px;
    height: auto;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
    height: auto;
  }
}
.button--modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  background-color: var(--white-text-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--logo-text-color);
  transition: color 250ms var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.button {
  &__icon--modal {
    fill: currentColor;
  }
}
