.team {
  background-color: var(--bg-secondary-color);
  &__box {
    width: 480px;
    text-align: center;

    @media screen and (min-width: 768px) {
      width: 768px;
    }
    @media screen and (min-width: 1200px) {
      width: 1200px;
    }
  }
  // &__item {
  //   margin-right: auto;
  //   margin-left: auto;
  // }
  &__img {
    width: calc(480px - 30px);
    height: auto;
  }
  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    &__item {
      margin: 0;
    }
    &__img {
      width: calc((768px - (2 * 30px)) / 2);
      height: auto;
    }
  }
  @media screen and (min-width: 1200px) {
    &__img {
      width: calc((1200px - (4 * 30px)) / 4);
      height: auto;
    }
  }
}
.card--team {
  width: calc(480px - 30px);
  padding-top: 30px;
  padding-bottom: 24px;
  background: var(--white-text-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and (min-width: 768px) {
    width: calc((768px - (2 * 30px)) / 2);
    @media screen and (min-width: 1200px) {
      max-width: calc((1200px - (4 * 30px)) / 4);
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
.card {
  &__subtitle--team {
    margin-right: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
  }
  &__text--team {
    margin-top: 0;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    line-height: 1.19;
  }
}
